<div class="jumbotron">
  <form>
    <% @materials.size.times do |index| %>
      <div class="row">
        <div class="col mb-4">
          <%= label_tag "material #{index+1}" %>
          <%= text_field nil, "material_ids[]", value: params[:material_ids][index], class: "form-control", placeholder: "UUID" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= submit_tag "Compare", class: "btn btn-primary", name: "compare" %>
        <%= submit_tag "Add material", class: "btn btn-primary", name: "add" %>
      </div>
    </div>
  </form>
</div>

<% @materials = @materials.compact %>

<% if @materials.size  > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Property</th>
        <% @materials.each do |material| %>
          <th><%= material.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% material_values(@materials).each do |attr, values| %>
      <tr>
        <td><%= show_attribute(attr) %></td>
        <% values.each do |value| %>
          <td><%= styled_value(value, values) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>