<div class="jumbotron">
  <form>
    <% @materials.each_with_index do |material, index| %>
    <% value = params["material_#{index}_uuid"] %>
      <div class="row">
        <div class="col mb-4">
          <%= label_tag "material_#{index+1}_uuid" %>
          <%= text_field nil, "material_#{index}_uuid", value: value, class: "form-control", placeholder: "UUID" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col">
        <%= submit_tag "Compare", class: "btn btn-primary" %>
        <%= submit_tag "Add material", class: "btn btn-primary" %>
        <%= hidden_field_tag "num_to_compare", @materials.size %>
      </div>
    </div>
  </form>
</div>

<% @materials = @materials.compact %>

<% if @materials.size  > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Property</th>
        <% @materials.each do |material| %>
          <th><%= material.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% attributes_by_material_function(@materials[0]).each do |attr, val| %>
      <% values = @materials.collect{ |material| material.attributes.fetch(attr)} %>
      <tr>
        <td><%= show_attribute(attr) %></td>
        <% values.each do |value| %>
          <td><%= styled_value(value, values) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>