<h1>Material: <%= @material.name %></h1>
<% if @material.manufacturer.present? %>
<p>Manufacturered by: <%= @material.manufacturer_name %></p>
<% else %>
<p>This is a generic material with no specific manufacturer.</p>
<% end %>

<p>
  <% if @material.datasheet.exist? %>
    <%= link_to "View datasheet", datasheet_material_path(@material), data: { turbolinks: false } %>
<% else %>
  <span class="text-muted">No datasheet present.</span>
<% end %>
<%= update_compare_button("update", @material.id) %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% attributes_by_material_function(@material).each do |attr, value| %>
    <tr>
      <td>
        <%= attr.humanize %>
        <% if Material::UNITS[attr.to_sym] %>
        (<%= Material::UNITS[attr.to_sym] %>)
        <% end %>
      </td>
      <td><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
